.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.schedule-list-container {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: center;
}

.datepicker-container {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #282c34;
}

@media screen and (max-width: 500px) {
  .schedule-list-container {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .makeStyles-root-154 {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    margin: 0 auto;
  }
  .division-list {
    max-width: 500px;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  #list-subheader {
    position: relative;
    margin: 0 auto;
  }
  .MuiListItem-root {
    align-self: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  .datepicker-container {
    flex-direction: column;
  }
}